.eslintrc.js

babel.config.js

metro.config.js

jest.setup.js

android/**

node_modules/**/*.js

packages/**/node_modules/**/*.js

flow-typed/npm/**/*.js

fb/bin/**

src/Terragraph/NodeAlignment/ProtocolMessage/*.js

**/__generated__/**/*.js
